// example.css 包含示例页面所需的样式
// 这些央视通常不会用于其他项目

body.lily-example-doc {

  .example-section {
    margin-bottom: 60px;
  }

  .example-section.consts {
    .color-consts {
      @include clearfix;
      .color-const {
        @include square(80px);
        float:left;
        margin-right:10px;
        border-radius:$border-radius-default;

        &.black-10 {background-color: $black-10;}
        &.black-20 {background-color: $black-20;}
        &.black-30 {background-color: $black-30;}
        &.black-40 {background-color: $black-40;}
        &.black-50 {background-color: $black-50;}
        &.black-60 {background-color: $black-60;}
        &.black-70 {background-color: $black-70;}
        &.black-80 {background-color: $black-80;}
        &.black-90 {background-color: $black-90;}

        &.area-primary {background-color: $area-primary;}
        &.area-success {background-color: $area-success;}
        &.area-info    {background-color: $area-info;}
        &.area-warning {background-color: $area-warning;}
        &.area-danger  {background-color: $area-danger;}

        &.area-hot     {background-color: $area-hot;}
        &.area-night   {background-color: $area-night;}
        &.area-dawn    {background-color: $area-dawn;}
        &.area-fresh   {background-color: $area-fresh;}
        &.area-forest  {background-color: $area-forest;}
        &.area-dream   {background-color: $area-dream;}
      }
    }
  }

  .example {
    margin-bottom:15px;
    position:relative;
    padding:45px 15px 15px;
    border: $border-color-default solid 1px;

    &:before {
      content: "示例样式";
      color: $black-30;
      position: absolute;
      top:15px;left:15px;
      font-weight:700;
      letter-spacing: 1px;
      font-size:14px;
      height:15px;line-height:15px;
    }
  }

  .example-typography {
    table {
      margin-bottom: 0;
    }

    table td {
      padding:15px 0;
      vertical-align: middle;
      h1, h2, h3, h4, h5, h6 {margin: 0;}
      span.info {color:$black-40;}
    }

    table tr:first-child td {
      border-top: 0 none;
    }
  }

  .code-highlight {
    padding:9px 14px;
    border:solid 1px $border-color-default;
    background-color:#f8f8f9;
    margin-bottom:20px;

    pre {
      background-color: transparent;
      color: $text-color-default;
      padding:0;margin:0;
      border:0 none;
    }
  }

  .example + .code-highlight {
    margin-top:-16px;
  }

}