@charset "UTF-8";
@import url(normalize.css);
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";
  font-size: 14px;
  line-height: 1.42858;
  color: #333333; }

a {
  color: #4183c4;
  text-decoration: none; }
  a:hover, a:focus {
    color: #2c5d8d;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

.clearfix {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4; }

.header-title {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: solid 1px #e6e6e6; }

.readable-line {
  max-width: 588px; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";
  font-weight: 500;
  line-height: 1.1;
  color: #333333; }
  h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small,
  .h1 small,
  .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px; }
  h1 small, h1 .small, .h1 small, .h1 .small,
  h2 small,
  h2 .small, .h2 small, .h2 .small,
  h3 small,
  h3 .small, .h3 small, .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  margin-bottom: 10px; }
  h4 small, h4 .small, .h4 small, .h4 .small,
  h5 small,
  h5 .small, .h5 small, .h5 .small,
  h6 small,
  h6 .small, .h6 small, .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px; }

p {
  margin: 0 0 10px; }

ul, ol {
  margin-top: 0;
  margin-bottom: 10px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

table {
  max-width: 100%;
  background-color: transparent; }

th {
  text-align: left; }

.table {
  width: 100%;
  margin-bottom: 20px; }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42858;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd; }
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > tbody + tbody {
    border-top: 2px solid #dddddd; }
  .table .table {
    background-color: white; }

.table-compact > thead > tr > th,
.table-compact > thead > tr > td,
.table-compact > tbody > tr > th,
.table-compact > tbody > tr > td,
.table-compact > tfoot > tr > th,
.table-compact > tfoot > tr > td {
  padding: 5px; }

.table-bordered {
  border: 1px solid #dddddd; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > th,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > th,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: whitesmoke; }

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column; }

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell; }

code,
kbd,
pre,
samp {
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", "monospace", "微软雅黑"; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #3f7faf;
  background-color: #f2f7f9;
  white-space: nowrap;
  border-radius: 4px; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: white;
  background-color: #333333;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  color: whitesmoke;
  background-color: #333333;
  border: 1px solid #cccccc; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .container-fluid:before, .container-fluid:after {
    content: "";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.col-phone-1, .col-pad-1, .col-desk-1, .col-wide-1,
.col-phone-2, .col-pad-2, .col-desk-2, .col-wide-2,
.col-phone-3, .col-pad-3, .col-desk-3, .col-wide-3,
.col-phone-4, .col-pad-4, .col-desk-4, .col-wide-4,
.col-phone-5, .col-pad-5, .col-desk-5, .col-wide-5,
.col-phone-6, .col-pad-6, .col-desk-6, .col-wide-6,
.col-phone-7, .col-pad-7, .col-desk-7, .col-wide-7,
.col-phone-8, .col-pad-8, .col-desk-8, .col-wide-8,
.col-phone-9, .col-pad-9, .col-desk-9, .col-wide-9,
.col-phone-10, .col-pad-10, .col-desk-10, .col-wide-10,
.col-phone-11, .col-pad-11, .col-desk-11, .col-wide-11,
.col-phone-12, .col-pad-12, .col-desk-12, .col-wide-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-phone-1 {
  width: 8.33333%; }

.col-phone-2 {
  width: 16.66667%; }

.col-phone-3 {
  width: 25%; }

.col-phone-4 {
  width: 33.33333%; }

.col-phone-5 {
  width: 41.66667%; }

.col-phone-6 {
  width: 50%; }

.col-phone-7 {
  width: 58.33333%; }

.col-phone-8 {
  width: 66.66667%; }

.col-phone-9 {
  width: 75%; }

.col-phone-10 {
  width: 83.33333%; }

.col-phone-11 {
  width: 91.66667%; }

.col-phone-12 {
  width: 100%; }

.col-phone-left-1 {
  left: 8.33333%; }

.col-phone-left-2 {
  left: 16.66667%; }

.col-phone-left-3 {
  left: 25%; }

.col-phone-left-4 {
  left: 33.33333%; }

.col-phone-left-5 {
  left: 41.66667%; }

.col-phone-left-6 {
  left: 50%; }

.col-phone-left-7 {
  left: 58.33333%; }

.col-phone-left-8 {
  left: 66.66667%; }

.col-phone-left-9 {
  left: 75%; }

.col-phone-left-10 {
  left: 83.33333%; }

.col-phone-left-11 {
  left: 91.66667%; }

.col-phone-left-12 {
  left: 100%; }

.col-phone-right-1 {
  right: 8.33333%; }

.col-phone-right-2 {
  right: 16.66667%; }

.col-phone-right-3 {
  right: 25%; }

.col-phone-right-4 {
  right: 33.33333%; }

.col-phone-right-5 {
  right: 41.66667%; }

.col-phone-right-6 {
  right: 50%; }

.col-phone-right-7 {
  right: 58.33333%; }

.col-phone-right-8 {
  right: 66.66667%; }

.col-phone-right-9 {
  right: 75%; }

.col-phone-right-10 {
  right: 83.33333%; }

.col-phone-right-11 {
  right: 91.66667%; }

.col-phone-right-12 {
  right: 100%; }

.col-phone-margin-left-1 {
  margin-left: 8.33333%; }

.col-phone-margin-left-2 {
  margin-left: 16.66667%; }

.col-phone-margin-left-3 {
  margin-left: 25%; }

.col-phone-margin-left-4 {
  margin-left: 33.33333%; }

.col-phone-margin-left-5 {
  margin-left: 41.66667%; }

.col-phone-margin-left-6 {
  margin-left: 50%; }

.col-phone-margin-left-7 {
  margin-left: 58.33333%; }

.col-phone-margin-left-8 {
  margin-left: 66.66667%; }

.col-phone-margin-left-9 {
  margin-left: 75%; }

.col-phone-margin-left-10 {
  margin-left: 83.33333%; }

.col-phone-margin-left-11 {
  margin-left: 91.66667%; }

.col-phone-margin-left-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-pad-1 {
    width: 8.33333%; }

  .col-pad-2 {
    width: 16.66667%; }

  .col-pad-3 {
    width: 25%; }

  .col-pad-4 {
    width: 33.33333%; }

  .col-pad-5 {
    width: 41.66667%; }

  .col-pad-6 {
    width: 50%; }

  .col-pad-7 {
    width: 58.33333%; }

  .col-pad-8 {
    width: 66.66667%; }

  .col-pad-9 {
    width: 75%; }

  .col-pad-10 {
    width: 83.33333%; }

  .col-pad-11 {
    width: 91.66667%; }

  .col-pad-12 {
    width: 100%; }

  .col-pad-left-1 {
    left: 8.33333%; }

  .col-pad-left-2 {
    left: 16.66667%; }

  .col-pad-left-3 {
    left: 25%; }

  .col-pad-left-4 {
    left: 33.33333%; }

  .col-pad-left-5 {
    left: 41.66667%; }

  .col-pad-left-6 {
    left: 50%; }

  .col-pad-left-7 {
    left: 58.33333%; }

  .col-pad-left-8 {
    left: 66.66667%; }

  .col-pad-left-9 {
    left: 75%; }

  .col-pad-left-10 {
    left: 83.33333%; }

  .col-pad-left-11 {
    left: 91.66667%; }

  .col-pad-left-12 {
    left: 100%; }

  .col-pad-right-1 {
    right: 8.33333%; }

  .col-pad-right-2 {
    right: 16.66667%; }

  .col-pad-right-3 {
    right: 25%; }

  .col-pad-right-4 {
    right: 33.33333%; }

  .col-pad-right-5 {
    right: 41.66667%; }

  .col-pad-right-6 {
    right: 50%; }

  .col-pad-right-7 {
    right: 58.33333%; }

  .col-pad-right-8 {
    right: 66.66667%; }

  .col-pad-right-9 {
    right: 75%; }

  .col-pad-right-10 {
    right: 83.33333%; }

  .col-pad-right-11 {
    right: 91.66667%; }

  .col-pad-right-12 {
    right: 100%; }

  .col-pad-margin-left-1 {
    margin-left: 8.33333%; }

  .col-pad-margin-left-2 {
    margin-left: 16.66667%; }

  .col-pad-margin-left-3 {
    margin-left: 25%; }

  .col-pad-margin-left-4 {
    margin-left: 33.33333%; }

  .col-pad-margin-left-5 {
    margin-left: 41.66667%; }

  .col-pad-margin-left-6 {
    margin-left: 50%; }

  .col-pad-margin-left-7 {
    margin-left: 58.33333%; }

  .col-pad-margin-left-8 {
    margin-left: 66.66667%; }

  .col-pad-margin-left-9 {
    margin-left: 75%; }

  .col-pad-margin-left-10 {
    margin-left: 83.33333%; }

  .col-pad-margin-left-11 {
    margin-left: 91.66667%; }

  .col-pad-margin-left-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-desk-1 {
    width: 8.33333%; }

  .col-desk-2 {
    width: 16.66667%; }

  .col-desk-3 {
    width: 25%; }

  .col-desk-4 {
    width: 33.33333%; }

  .col-desk-5 {
    width: 41.66667%; }

  .col-desk-6 {
    width: 50%; }

  .col-desk-7 {
    width: 58.33333%; }

  .col-desk-8 {
    width: 66.66667%; }

  .col-desk-9 {
    width: 75%; }

  .col-desk-10 {
    width: 83.33333%; }

  .col-desk-11 {
    width: 91.66667%; }

  .col-desk-12 {
    width: 100%; }

  .col-desk-left-1 {
    left: 8.33333%; }

  .col-desk-left-2 {
    left: 16.66667%; }

  .col-desk-left-3 {
    left: 25%; }

  .col-desk-left-4 {
    left: 33.33333%; }

  .col-desk-left-5 {
    left: 41.66667%; }

  .col-desk-left-6 {
    left: 50%; }

  .col-desk-left-7 {
    left: 58.33333%; }

  .col-desk-left-8 {
    left: 66.66667%; }

  .col-desk-left-9 {
    left: 75%; }

  .col-desk-left-10 {
    left: 83.33333%; }

  .col-desk-left-11 {
    left: 91.66667%; }

  .col-desk-left-12 {
    left: 100%; }

  .col-desk-right-1 {
    right: 8.33333%; }

  .col-desk-right-2 {
    right: 16.66667%; }

  .col-desk-right-3 {
    right: 25%; }

  .col-desk-right-4 {
    right: 33.33333%; }

  .col-desk-right-5 {
    right: 41.66667%; }

  .col-desk-right-6 {
    right: 50%; }

  .col-desk-right-7 {
    right: 58.33333%; }

  .col-desk-right-8 {
    right: 66.66667%; }

  .col-desk-right-9 {
    right: 75%; }

  .col-desk-right-10 {
    right: 83.33333%; }

  .col-desk-right-11 {
    right: 91.66667%; }

  .col-desk-right-12 {
    right: 100%; }

  .col-desk-margin-left-1 {
    margin-left: 8.33333%; }

  .col-desk-margin-left-2 {
    margin-left: 16.66667%; }

  .col-desk-margin-left-3 {
    margin-left: 25%; }

  .col-desk-margin-left-4 {
    margin-left: 33.33333%; }

  .col-desk-margin-left-5 {
    margin-left: 41.66667%; }

  .col-desk-margin-left-6 {
    margin-left: 50%; }

  .col-desk-margin-left-7 {
    margin-left: 58.33333%; }

  .col-desk-margin-left-8 {
    margin-left: 66.66667%; }

  .col-desk-margin-left-9 {
    margin-left: 75%; }

  .col-desk-margin-left-10 {
    margin-left: 83.33333%; }

  .col-desk-margin-left-11 {
    margin-left: 91.66667%; }

  .col-desk-margin-left-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-wide-1 {
    width: 8.33333%; }

  .col-wide-2 {
    width: 16.66667%; }

  .col-wide-3 {
    width: 25%; }

  .col-wide-4 {
    width: 33.33333%; }

  .col-wide-5 {
    width: 41.66667%; }

  .col-wide-6 {
    width: 50%; }

  .col-wide-7 {
    width: 58.33333%; }

  .col-wide-8 {
    width: 66.66667%; }

  .col-wide-9 {
    width: 75%; }

  .col-wide-10 {
    width: 83.33333%; }

  .col-wide-11 {
    width: 91.66667%; }

  .col-wide-12 {
    width: 100%; }

  .col-wide-left-1 {
    left: 8.33333%; }

  .col-wide-left-2 {
    left: 16.66667%; }

  .col-wide-left-3 {
    left: 25%; }

  .col-wide-left-4 {
    left: 33.33333%; }

  .col-wide-left-5 {
    left: 41.66667%; }

  .col-wide-left-6 {
    left: 50%; }

  .col-wide-left-7 {
    left: 58.33333%; }

  .col-wide-left-8 {
    left: 66.66667%; }

  .col-wide-left-9 {
    left: 75%; }

  .col-wide-left-10 {
    left: 83.33333%; }

  .col-wide-left-11 {
    left: 91.66667%; }

  .col-wide-left-12 {
    left: 100%; }

  .col-wide-right-1 {
    right: 8.33333%; }

  .col-wide-right-2 {
    right: 16.66667%; }

  .col-wide-right-3 {
    right: 25%; }

  .col-wide-right-4 {
    right: 33.33333%; }

  .col-wide-right-5 {
    right: 41.66667%; }

  .col-wide-right-6 {
    right: 50%; }

  .col-wide-right-7 {
    right: 58.33333%; }

  .col-wide-right-8 {
    right: 66.66667%; }

  .col-wide-right-9 {
    right: 75%; }

  .col-wide-right-10 {
    right: 83.33333%; }

  .col-wide-right-11 {
    right: 91.66667%; }

  .col-wide-right-12 {
    right: 100%; }

  .col-wide-margin-left-1 {
    margin-left: 8.33333%; }

  .col-wide-margin-left-2 {
    margin-left: 16.66667%; }

  .col-wide-margin-left-3 {
    margin-left: 25%; }

  .col-wide-margin-left-4 {
    margin-left: 33.33333%; }

  .col-wide-margin-left-5 {
    margin-left: 41.66667%; }

  .col-wide-margin-left-6 {
    margin-left: 50%; }

  .col-wide-margin-left-7 {
    margin-left: 58.33333%; }

  .col-wide-margin-left-8 {
    margin-left: 66.66667%; }

  .col-wide-margin-left-9 {
    margin-left: 75%; }

  .col-wide-margin-left-10 {
    margin-left: 83.33333%; }

  .col-wide-margin-left-11 {
    margin-left: 91.66667%; }

  .col-wide-margin-left-12 {
    margin-left: 100%; } }
body.lily-example-doc .example-section {
  margin-bottom: 60px; }
  body.lily-example-doc .example-section > h1 {
    margin-top: 0px;
    padding-top: 20px; }
body.lily-example-doc .example-section.consts .color-consts:before, body.lily-example-doc .example-section.consts .color-consts:after {
  content: "";
  display: table; }
body.lily-example-doc .example-section.consts .color-consts:after {
  clear: both; }
body.lily-example-doc .example-section.consts .color-consts .color-const {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 4px; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-10 {
    background-color: #e6e6e6; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-20 {
    background-color: #cccccc; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-30 {
    background-color: #b3b3b3; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-40 {
    background-color: #999999; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-50 {
    background-color: gray; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-60 {
    background-color: #666666; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-70 {
    background-color: #4d4d4d; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-80 {
    background-color: #333333; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.black-90 {
    background-color: #1a1a1a; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-primary {
    background-color: #2a70e8; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-success {
    background-color: #4cc85e; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-info {
    background-color: #44b2f5; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-warning {
    background-color: #ffcc3f; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-danger {
    background-color: #f15837; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-hot {
    background-color: #ff4400; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-night {
    background-color: #2e333f; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-dawn {
    background-color: #fffbe3; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-fresh {
    background-color: #6fbc00; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-forest {
    background-color: #009800; }
  body.lily-example-doc .example-section.consts .color-consts .color-const.area-dream {
    background-color: #6f5499; }
body.lily-example-doc .example {
  margin-bottom: 15px;
  position: relative;
  padding: 45px 15px 15px;
  border: #dddddd solid 1px; }
  body.lily-example-doc .example:before {
    content: "示例样式";
    color: #b3b3b3;
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    height: 15px;
    line-height: 15px; }
body.lily-example-doc .example-typography table {
  margin-bottom: 0; }
body.lily-example-doc .example-typography table td {
  padding: 15px 0;
  vertical-align: middle;
  border-color: #e6e6e6; }
  body.lily-example-doc .example-typography table td h1, body.lily-example-doc .example-typography table td h2, body.lily-example-doc .example-typography table td h3, body.lily-example-doc .example-typography table td h4, body.lily-example-doc .example-typography table td h5, body.lily-example-doc .example-typography table td h6 {
    margin: 0; }
  body.lily-example-doc .example-typography table td span.info {
    color: #999999; }
body.lily-example-doc .example-typography table tr:first-child td {
  border-top: 0 none; }
body.lily-example-doc .code-highlight {
  padding: 9px 14px;
  border: solid 1px #dddddd;
  background-color: #f8f8f9;
  margin-bottom: 20px; }
  body.lily-example-doc .code-highlight pre {
    background-color: transparent;
    color: #333333;
    padding: 0;
    margin: 0;
    border: 0 none; }
body.lily-example-doc .example + .code-highlight {
  margin-top: -16px; }
