.example-section
  %h1 Why Lily?
  %p.lead
    我们的域名是 4ye.me, 而产品名称是“四叶草”。Lily 是百合花的意思，都是植物，用来做开发框架的名称应该还算合适。<br/>
    Lily 从 Bootstrap 吸取了很多思路，可以把它看作是 MINDPIN 团队对 Bootstrap 进行了精简，大量定制与扩展的工作成果。

  %h3 为什么不直接用 Bootstrap?
  %p 因为以下的几点原因：
  %ul
    %li Bootstrap 在某些场景有些冗余；
    %li Bootstrap 中的许多组件的外观设计和我们所倾向的扁平化设计风格存在差异；
    %li 为了达到更好的视觉效果，我们需要定义更多的 scss 常量；
    %li 许多设计排版的样式数值之间的关系需要细致的关联与调整；
    %li 我们需要自己实现更适合我们使用的 javascript 效果库；